<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobRinger - About Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">JobRinger</div>
    </header>
    <section class="about">
        <h1>About Us</h1>
        <p>JobRinger connects talented individuals with leading companies globally.</p>
    </section>
    <footer>
        <p>&copy; 2024 JobRinger. All rights reserved.</p>
    </footer>
</body>
</html>
-->


{% extends "base.html" %}

{% block title %}About Us - JobRinger{% endblock %}

{% block content %}
<section class="hero">
    <h1>About Us</h1>  
</section>

<section class="about">
    <p>Jobringer.com is a robust and feature-rich Job Portal, designed to cater the industry needs in current market scenario, equipped with latest technology and AI based algorithms. It is highly progressive and adaptable to the business requirements, with economical and low cost packages.
 
        Nowadays both Employers and Jobseekers look for some platform which is very specific to their requirement, and serve their purpose in all practical formats.
         
        At Jobringer we have made it easy for Employers to get appropriate employees!
         
        With an aspiration to create enduring values, under the steering leadership of Mr. PRAKASH BANSAL and the enterprise strengths derived from deep market insights, cutting-edge research, differentiated product development and brand building capacity, we are aiming to grow exponentially and among the best performing companies globally.</p>
</section>
{% endblock %}
